/* Sirin - CSS code from W3S - off-canvas menu*/

body {
    font-family: "Lato", sans-serif;
  }
  
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #D9B01C;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #4b422c;;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

/* end CSS code from W3S - off-canvas menu*/

/* Sirin - Footer start*/
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #D9B01C;
    color: #333;
    text-align: center;
 }
/* Sirin - Footer end*/


/* Gilhan's suggestion to body/font css - you can change it at will*/
body {
    line-height: 1.444;
    -webkit-font-smoothing: antialiased;
    font-size:18px;
    font-stretch: 100%;
    color:#3e3e3e;
    background:#fff;
    font-family: Geomanist,Helvetica,sans-serif;
}


/* Reflection page */ /*<-- change to generic settings?*/

.reflection-header, .Topical-information-header{
    margin-top: 2rem;
    display:flex;
    justify-content: center;
}
.reflection-main, .Topical-information-main {
    display:flex;
    justify-content: center;
    vertical-align: baseline;
}
.reflection-article, .Topical-information-article {
    width:800px;
    margin-bottom:5rem;
}
.reflection-article hr, .Topical-information-article hr{
    margin:60px 0;
}
.article-div p{
    line-height: 2.1;
}
.article-div {
    margin-bottom:3rem;
}

/*Topical-information*/

.Topical-information-article > .article-div > .sources-div >h2 {
    text-decoration: underline;
}

/* Responsive css */
@media only screen and (max-width:414px) {
    .reflection-article {
        width:100%;
        padding:0 25px;
    }
    .article-div picture img {
        width:90vw;
    }
    .reflection-header h1 {
        font-size:x-large;
    }
    .article-div picture {
        display:flex;
        justify-content: center;
    }
}
@media only screen and (min-width:414px) and (max-width:768px) {
    .article-div {
        margin:20px;
    }
    .article-div picture {
        display:flex;
        justify-content: center;
    }
}
/* End Responsive css */
/* End Reflection page */

