
     /* font size 1em is 16px*/

    body {
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      height: 100%;
      width: 100%;
      margin: 0;
      line-height: 1.44;
      -webkit-font-smoothing: antialiased;
      font-size:1.125em;
      font-stretch: 100%;
      color:#3e3e3e;
      background:#fff;
      box-sizing: border-box;
    }

    h2 {
      font-size:1em;
    }
  
    img {
      width: 100%;
      height: 100%;
    }
    
  /* Sirin - CSS code from W3S - off-canvas menu*/  
    .sidenav {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: #111;
      overflow-x: hidden;
      transition: 0.5s;
      padding-top: 60px;
    }
    
    .sidenav a {
      padding: 8px 8px 8px 26px;
      text-decoration: none;
      font-size: 24px;
      color: #f3e7e7;
      display: block;
      transition: 0.3s;
    }
    
    .sidenav a:hover {
      color: #f1c010;
    }
    
    .sidenav .closebtn {
      position: absolute;
      top: 0;
      right: 24px;
      font-size: 32px;
      margin-left: 50px;
    }
    
    #main {
      transition: margin-left .5s;
      padding: 1rem;
    }
    
  /* end CSS code from W3S - off-canvas menu*/
  
  /* Sirin - Footer start*/
  .footer {
      position: relative;
      margin: 0;
      width: 100%;
      height: 40px;
      padding: 10px 0;
      font-size: small;
      background-color: #FFDC00;
      color: #2b2306;
      text-align: center; 
      vertical-align: bottom;
  }

  .footer p {
      font-weight:450;
  }
  /* Sirin - Footer end*/
  
  /* Sirin - the keyframe animations */
  
  .box {
      width: 20px;
      height: 10px;
      background-color:black;
      position: relative;
      animation-name: box;
      animation-duration: 6s;
      animation-iteration-count: infinite;
    }
    
    @keyframes box {
      0%   {background-color:black; left:0px; top:0px;}
      50%  {background-color:orange; left:800px; top:0px;}
      100% {background-color:black; left:0px; top:0px;}
    }
  
  .fun1 {
      width: 20px;
      height: 20px;
      background: yellow;
      position: relative;
      animation: mymove 10s infinite;
      font-weight: bold;
      text-align: center;
    }
    
    .fun2 {
      width: 20px;
      height: 20px;
      background: dodgerblue;
      position: relative;
      animation: mymove 7s infinite;
      font-weight: bold;
      text-align: center;
    }
    
    .fun3 {
      width: 20px;
      height: 20px;
      background: magenta;
      position: relative;
      animation: mymove 5s infinite;
      font-weight: bold;
      text-align: center;
    }
    
    @keyframes mymove {
      from {top: 0px;}
      to {top: 500px;}
  
    }
    /* Sirin - the keyframe animation end */
  
  /* Generic settings for CSS */ 
  
  .reflection-header, .topical-header, .index-header, .accessibility-header {
      margin-top: 1rem;
      display:flex;
      justify-content: center;
  }
  .reflection-main, .topical-main, .fun-main, .accessibility-main, .index-main {
      display:flex;
      justify-content: center;
      vertical-align: baseline;
  }
  .reflection-article, .topical-article, .index-article, .accessibility-article {
      width:800px;
      margin-bottom:5rem;
      justify-content: center;
  }
  .reflection-article hr, .topical-article hr {
      margin:60px 0;
  }
  .article-div p{
      line-height: 2.1;
  }
  .article-div {
      margin-bottom:3rem;
      justify-content: center;
  }
  
  /*Topical-information*/
  
  .topical-article >  .sources-div > h2 {
      text-decoration: underline;
  }

  ul {
    list-style-type: none;
  }

  /*Topical-information end*/

  /*Reflection article image effects*/
  .reflection-article img {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  }
  /*Reflection article end*/
  
   /* This is code to stop the links in the source list to overflow the webpage on smaller screens due to long words */
  .sources-div {
  
    overflow-wrap: break-word;
  
    
    word-break: break-word;
  
    /* Adds a hyphen on line breaks */
    hyphens: auto;
  
    /* Code from https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/ */
  }


  /* Topical information end */

  /* Bhiravina - Fun page */

  .fun-heading{
    position: absolute;
    display: flex;
    flex-direction: row;
    padding: 0;
  }

  .fun-heading li{
    list-style: none;
    font-size: 2em;
    font-weight: 600;
    transform-origin: left;
    animation: flyIn 2.5s forwards;
    opacity: 0;
  }

  @keyframes flyIn {
    0% {
        opacity: 0;
        transform: rotateY(90deg);
        transform: translateX(-20px);
    }
    40% {
        opacity: 0.3;
        transform: rotateY(0deg);
        transform: translateX(20px);
        transform: scale(0.8);
    }
    
    70%{
        opacity: 0.5;
    }
    
    100% {
        opacity: 1;
        transform: rotateY(0deg);
    }
  }

  ul li:nth-child(1) {
    animation-delay: 0s;
}
ul li:nth-child(2) {
    animation-delay: 0.2s;
}
ul li:nth-child(3) {
    animation-delay: 0.4s;
}
ul li:nth-child(4) {
    animation-delay: 0.6s;
    margin-right:0.5rem;
}
ul li:nth-child(5) {
    animation-delay: 0.8s;
}
ul li:nth-child(6) {
    animation-delay: 1s;
}
ul li:nth-child(7) {
    animation-delay: 1.2s;
}
ul li:nth-child(8) {
    animation-delay: 1.4s;
}
  
  /* Responsive css */
  @media screen and (max-height: 450px) and (max-width:414px) {
      .sidenav {
          padding-top: 10px;
          font-size: 1em;
          width: 100vw;
      }
      .sidenav a {font-size: 1em;}
   
      .footer {font-size: 12px;}
  
  }
  
  @media screen and (max-width: 414px) {
      .sidenav a {
          display: flex;
          justify-content: center;
          padding:25px 0px 20px 0px;
          color: #f3e7e7;
          font-size: 1.5em;
      }
  
      .sidenav .closebtn {
          padding:0;
      }
  }
  
  @media only screen and (max-width:414px) {
      .reflection-article, .topical-article {
          padding:0 25px;
          font-size: 1em;
          float: none; 
          width: 100%;  
      }
      .article-div picture img {
          width:90vw;
      }
      .topical-main, .topical-main {
          font-size: 1em;
          float: none; 
          width: 100%;
      }
      .reflection-header h1 {
          font-size:1.5em;
      }
      .article-div picture {
          display:flex;
          justify-content: center;
      }
  }
  @media only screen and (min-width:414px) and (max-width:768px) {
      .article-div {
          margin:1.25rem;
      }
      .article-div picture {
          display:flex;
          justify-content: center;
      }
  }
  /* End Responsive css */

  
  